[Desktop Entry]
Comment[en_GB]=
Comment=
Exec=ssh-add -q /home/guinuxbr/.ssh/github /home/guinuxbr/.ssh/guinuxbr_ed25519 /home/guinuxbr/.ssh/paranoid_ed25519
GenericName[en_GB]=
GenericName=
MimeType=
Name[en_GB]=ssh-add
Name=ssh-add
Path=/home/guinuxbr
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-RunOnDiscreteGpu=false
X-KDE-SubstituteUID=false
X-KDE-Username=
