[Desktop Entry]
Exec=ssh-add -q $HOME/.ssh/github $HOME/.ssh/guinuxbr_ed25519 < /dev/null
Icon=dialog-scripts
Name=ssh-add
Type=Application
X-KDE-AutostartScript=true
